<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="style.css">

        <script type="text/javascript" src="api.js"></script>
    </head>
    <body>

        <div class="header box-size">
            {{#if toc}}
                <select onchange="hapi.switchVersion(this);">
                {{#each toc}}
                    <optgroup label="{{@key}}">
                    {{#each @this}}
                        <option {{selected @key ../../productVersionStr}}value="{{@this}}">{{@key}}</option>
                    {{/each}}
                    </optgroup>
                {{/each}}
                </select>
            {{/if}}
        </div>

        <div class="navigation">

        </div>

        <div class="body" id="body"> 
            {{{node.doclet.description}}}
            {{#each node.children}}
                {{> option}}
            {{/each}}
        </div>

        <div class="footer box-size">
            Copyright &copy; 2017, Highsoft AS. All rights reserved.
            <br/><br/>

            {{{product}}} v{{version}} - 
            Generated from branch <a href="https://github.com/highcharts/highcharts/tree/{{versionProps.branch}}">{{versionProps.branch}}</a> (commit <a href="https://github.com/highcharts/highcharts/commit/{{versionProps.commit}}">{{versionProps.commit}}</a>), on {{date}}
        </div>

    </body>

</html>
